<h2>Ironhack Cinema</h2>
<p>Click on a movie to show additional information and showtimes schedules!</p>

    <div>

        {{#each objectMovies}}
        <h4>{{title}}</h4>
        <img src="{{image}}"> 
        <a href="/movies/{{_id}}">See more</a>
        {{/each}}

    </div>
   

